.trancition {
    max-width: 48rem;
    height: 30rem;
    position: relative;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
}

.flecha_regresar {
    width: 2.3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.trancition .titulo {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.circulo {
    width: 20rem;
    height: 20rem;
    border: 8px solid black;
    border-radius: 100%;
    margin-top: 3.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total {
    font-size: 2rem;
}

.moneda {
    font-size: 2.9rem;
}

/* SECCIÓN DE OPCIONES */

.opciones {
    background-color: #fff;
    width: 100%;
    padding: 7%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.opciones h2 {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.1rem;
    font-family: 'Roboto';
}

.item {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 2rem 0rem;

    display: flex;
    justify-content: space-between;
}

.bo_borde {
    border: none;
}

.item div {
    width: 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item1 {
    display: flex;
    justify-content: space-between;
}

.caja-img {
    width: 6.4rem;
    height: 5.7rem;
    background-color: #e6e6e6e6;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-img2 {
    background-color: black;
}

.leyenda {
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

/* TODOS LOS ITEMS */
.icono {
    background-color: #E6E6E6;
    width: 5.3rem;
    height: 6rem;

    display: flex;

    justify-content: center;
    border-radius: 3px;
}

.icono img {
    width: 5rem;
}

.texto {
    margin-right: auto;
    margin-left: 1.7rem;
}

.texto_1 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.texto_2 {
    width: 100%;
    font-size: 1.2rem;
}

.precio {
    font-size: 1.2rem;
}